AUTH_SECRET=

DEEPSEEK_API_KEY=
NVIDIA_API_KEY=

MONGODB_URL=
MONGODB_NAME=
MONGODB_URI=
MONGODB_ATLAS_PUBLIC_KEY=
MONGODB_ATLAS_PRIVATE_KEY=
MONGODB_ATLAS_PROJECT_ID=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=